@import '~antd/dist/antd.css';

.site-layout-content {
  background: linear-gradient(to bottom, rgba(29, 165, 132, .05), rgba(29, 165, 132, .05), rgba(29, 165, 132, 0.02));
  padding: 24px;
  min-height: 280px;
}
.logo {
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  float: left;
  line-height: 35px;
  font-size: 18px;
  color: pink
}

.logo img {
  margin-right: 8px;
  position: relative;
  top: -2px;
}
[data-theme="dark"] .site-layout-content {
  background: #141414;
}
[data-theme="dark"] .logo {
  background: rgba(255,255,255,0.3);
}
